# Importations

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
pd.options.mode.chained_assignment = None

In [2]:
titanic_data_path = "C:/Users/Avisia/Downloads/titanic_data/" # A changer

In [3]:
df = pd.read_csv(titanic_data_path + "train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Dictionnaire de variables

- **PassengerId**: Id du passager
- **Survived**: Le passager a survécu ? 1: Oui; 0: Non
- **Pclass**: Classe du passager (1ère, 2ème, etc.)
- **Name**: Nom
- **Sex**: Sexe
- **Age**: Âge
- **SibSp**: Nombre de frères/soeurs/conjoints à bord
- **Parch**: Nombre de parents/enfants à bord
- **Ticket**: Numéro du ticket
- **Fare**: Prix payé par le ticket
- **Cabin**: Numéro de la cabine
- **Embarked**: Port où le passager a embarqué

# Preprocessing

In [4]:
def preprocessing(data):
    dummies = pd.get_dummies(data['Sex'])
    data = pd.concat([data, dummies], axis=1)
    
    data['Age'] = data['Age'].fillna(0) # doit-on vraiment remplacer NA par 0 ici ?
    data['Fare'] = data['Fare'].fillna(0) # doit-on vraiment remplacer NA par 0 ici ?
    # à developper
    
    return data

In [5]:
df = preprocessing(df)

# Apprentissage non-supervisé

# Modélisation

In [6]:
variables_explicatives = ['Age','female','male','Fare','Pclass','SibSp','Parch'] # à changer

In [7]:
X = df[variables_explicatives]
y = df['Survived']
seed = 42
test_size = 0.3

means = {col : X[col].mean() for col in X.columns}

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

## Régression logistique

In [8]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(
    random_state=seed,
    max_iter = 10000
)
lr.fit(X_train, y_train)

y_pred = lr.predict(X_test)
lr_accuracy = accuracy_score(y_test, y_pred)

print(lr)
print("Accuracy: %.2f%%" % (lr_accuracy * 100.0))

LogisticRegression(max_iter=10000, random_state=42)
Accuracy: 79.85%

# Cross-validation

# Soumission

La soumission des prédictions, c'est par [ici](https://www.kaggle.com/c/titanic). <br>
Elle doit être en mode binaire (0/1) et pas en probabilité.

In [9]:
model = lr # ici on choisit le modèle à être utilisé

In [11]:
submission_input = pd.read_csv(titanic_data_path + "test.csv")
submission_input = preprocessing(submission_input)
submission_X = submission_input[variables_explicatives]
submission = model.predict(submission_X)
submission_df = pd.DataFrame({'PassengerId':submission_input['PassengerId'],
 'Survived':submission})
submission_df.to_csv('submission.csv', index = False)